@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
    color: #2d3248;
}
html{
    font-size: 10px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #19a2ae;
    
}
.main{
    font-size: 1.8rem;
    background: url(../images/bg-pattern-top.svg) 10% 10% repeat, url(../images/bg-pattern-bottom.svg) -10% -10% repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card{
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    margin: 0px 25px;
    
}
.top-card{
    background-image: url(../images/bg-pattern-card.svg);
    height: 150px;
    background-size: cover;
}

.profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -50px;
    border: 5px solid white;
    
}
.card-body{
    margin-top: 25px;
    line-height: 30px;
}
.age, .city{
    font-weight: 400;
    margin: 10px;
}
.stats{
    display: flex;
    border-top: 1px solid #969696;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 20px 35px;
    
}
.stats-name {
    display: block;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.5rem;
}

.attribution, .attribution a{
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}
.attribution{
    margin: 10px;
    padding: 0px 10px;
}

@media only screen and (max-width: 400px) {
    html{
        font-size: 8px;
    }
    .card{
        margin: 5px;
    }
    .stats{
        padding: 10px;
    }
    .top-card{
        height: 100px;
    }
  }